@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--bg-app);
  --color-foreground: var(--text-app);
}

:root {
  --bg-app: #ffffff;
  --text-app: #111827;
}

:root.dark {
  --bg-app: #030712;
  --text-app: #f9fafb;
}

@layer base {
  body {
    background: var(--bg-app);
    color: var(--text-app);
    font-family: Arial, Helvetica, sans-serif;
  }
}
